header {
  height: 30rem;
  width: 100%;
  background: black;
  overflow: hidden;
  background: #C33764;  /* fallback colour. Make sure this is just one solid colour. */
  background: -webkit-linear-gradient(rgba(29, 38, 113, 0.8), rgba(183, 55, 195, 0.8)), url('./assets/tinyStreet.jpg');
  background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(183, 55, 195, 0.8)), url('./assets/tinyStreet.jpg'); /* The least supported option. */
  background-size: cover;
}

